.form {
  width: 295px;
  display: flex;
  flex-direction: column;
  gap: 14
  px;
  border: 1px solid rgb(166, 163, 163);
  border-radius: 5px;
  padding: 5px;
}

.group {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 5px;
  color: #474646;
}

.input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  transition: border-color 0.3s ease;
}

.input:focus {
  border-color: #007bff;
}

span {
  margin-top: 5px;
  font-size: 12px;
  color: #d9534f;
}

.submit {
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #28a745;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit:hover {
  background-color: #218838;
}